header {
    background-color: $color_secondary;
}
.my_nav {
    flex-direction: row;
    padding: 25px;
    background-color: $color_secondary;
    .brand_logo {
        height: 50px;
        width: auto;
    }
    .menu {
        display: flex;
        @media (min-width: $breakpoint-tablet) {
            ul {
                display: flex;
                list-style: none;
                li {
                    margin: 0 5px;
                    a {
                        cursor: pointer;
                        font-size: 18px;
                        padding: 0 5px;
                        width: fit-content;
                        text-transform: uppercase;
                        &:hover {
                            font-weight: 700;
                            color: $color_third;
                        }
                    }
                }
            } 
        }
        .hamburguer {
            width: auto;
            height: 40px;
        }
        .mobile_items {
            visibility: hidden;
            width: 100%;
            background-color: $color_secondary;
            position: absolute;
            top: 98px;
            height: auto;
            z-index: 999;
            left: 0;
            &.active {
                visibility: visible;
            }
            ul {
                list-style: none;
                li {
                    margin: 10px 0;
                    a {
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                }
            }
            .my_icons {
                padding-left: 40px;
            }
        }
    }
    .my_icons {
        img {
            margin: 0 5px;
            width: auto;
            height: 40px;
            cursor: pointer;
        }
    }
}
