header {
    background-color: $color_primary;
}
.my_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0;
    .menu {
        ul {
            display: flex;
            list-style: none;
            li{
                margin: 0 5px;
            }
        }
    }
}
