//Config
$max-page-width:1440px;
$font-primary: 'PT Sans';


$breakpoint-desktop: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

//Colors
$color_primary: #a7a7a7;
$color_secondary: #F5EED9;
$color_third: #272727;

